*pycache*
logs.log
uwsgi.pid
*.sublime-*
production.ini
development.ini
.coverage
htmlcov
packassembler.egg-info/

# Assets
node_modules
packassembler/static/dist/js/
packassembler/static/dist/img/
packassembler/static/dist/css/
