*pycache*
logs.log
uwsgi.pid
*.sublime-*
production.ini
development.ini
packassembler/.coverage
packassembler/cover/
packassembler.egg-info/
packassembler/static/archives/libs.zip
packassembler/static/js/bundled/
