/* Base */
body {
    padding-top: 60px;
    /*background: url("../img/cream_pixels.png") repeat scroll 0% 0% transparent;*/
}

@media (max-width: 980px) {
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.padded-top {
    padding-bottom: 100px;
}

/* Keyboard Shortcut Modal */
#keyboard-shortcuts dt {
    float: left;
    text-align: right;
    width: 6em;
    margin: 0px 0px 0px -2em;
    padding: 0px;
}

#keyboard-shortcuts dd {
    margin: 0px 0px 0px 5em;
}

#keyboard-shortcuts div.modal-body {
    overflow-y: auto;
}

div.keyboard-shortcuts-inner {
    width: 50%;
    float: left;
    margin-bottom: 15px;
}

/* Common */
.bmargin {margin-bottom: 10px;}
.tmargin {margin-top: 10px;}
.bpadding {padding-bottom: 10px;}
.tpadding {padding-top: 10px;}

.no-decoration {text-decoration: none;}
.center {text-align: center;}
.inline {display: inline-block;}

.relative-position {position: relative;}
tr.button-height td {line-height: 38px !important;}
.force-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
}

.linked {cursor: pointer;}
.nolink {cursor: auto;}

/* Form */
select.longer {
    width: 100%;
}

/* Individual Pages */
/* Home */
div.info-block
{
    margin-bottom: 20px;
}
div.info-block h4 [class^="icon-"]:before
{
    font-size: 28px;
    display: inline-block;
    font-size: 28px;
    margin-right: 5px;
    text-align: center;
    vertical-align: -10%;
    width: 1.07143em;
}

/* List Pages */
table.listtable > * > tr > * {line-height: 30px !important;}

/* View Pages */
div.panel-heading {font-size: 17px; color: white !important;}
td.middle {vertical-align: middle !important;}
td:hover.link-hover {background-color: rgb(40, 40, 40); cursor: pointer;}
td.giant {width: 100%;}

/* Profile */
.profilebox{overflow: hidden;}
.profilebox-avatar{float:left; margin-right:6px;}
.profilebox-info{float:left;padding-top: 34px;}
.profilebox-info h2{line-height: normal; font-size:32px; margin: 10px 0 0 0;}
.profilebox-info h3{margin:0; line-height: normal; font-size:18px;}

/* User list */
/*div.userbox{height: 300px;}*/
div.userbox-avatar{margin-bottom: 6px;}
